<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs74avFhBqH6ZW8CLUjx3hU-LFpB_7wp8</string>
	<key>GCM_SENDER_ID</key>
	<string>943148537596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.your.nathalia.appRunClub</string>
	<key>PROJECT_ID</key>
	<string>app-runclub-ec494</string>
	<key>STORAGE_BUCKET</key>
	<string>app-runclub-ec494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943148537596:ios:23e7b072e617631399a979</string>
</dict>
</plist>